@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes marqueeReverse {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 1080px;
    width: 1920px;
}

.alert {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.alert-content {
    height: 100%;
    width: 100%;
    position: relative;
}

.alert.animate .back-bar {
    bottom: -100px;
    left: -100px;
}

.alert.animate .info-bar {
    transform: translateX(0);
}

.back-bar {
    position: absolute;
    height: 300px;
    width: 2420px;
    background: #C61618;
    bottom: 1240px;
    left: 2560px;
    transform: rotate(-26deg);
    transform-origin: 0 50%;
    transition: all 2s;
}

.bar-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.thank-you-bars {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.thank-you-bar {
    position: relative;
    height: 89px;
    margin-top: -10px;
}

.thank-you-marquee {
    position: absolute;
}

.thank-you-marquee > span {
    font-family: 'Londrina Outline', cursive;
    color: #fff;
    font-size: 72px;
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
}
.thank-you-marquee2 > span {
    animation-delay: 20s;
}

.thank-you-bar.reverse .thank-you-marquee > span{
    animation: marqueeReverse 40s linear infinite;
}

.thank-you-bar.reverse .thank-you-marquee2 > span {
    animation-delay: 20s;
}

.info-bar {
    height: 100%;
    width: 100%;
    padding-left: 1100px;
    display: flex;
    position: relative;
    transition: all 1s ease-in-out;
    transition-delay: 3s;
    transform: translateX(100%);
}

.info-bar-background {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%;
    background: #fff;
}

.img-wrapper {
    position: absolute;
    top: 50%;
    left: 750px;
    width: 340px;
    transform: translateY(-50%);
}

.img-wrapper img {
    width: 100%;
}

.information {
    height: 100%;
    padding: 70px 0;
    position: relative;
    z-index: 2;
}

.title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 48px;
    margin-bottom: -30px;
    margin-top: -10px;
    color: #888;
}

.name {
    font-family: "Rubik";
    font-size: 128px;
}

